
#blogs h2{
    margin-top: 1rem;
}
#blogs ul{
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
}
#blogs ul li{
    background-color: blueviolet;
   transition: all 0.5s ease;
   padding: 0;
   border-radius: 5rem;
   transition: all 0.5s smooth;
}
#blogs ul li a{
    padding: 1.5rem 1.5rem;
    font-size: 1.6rem;
    color: #ffffff;
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: all 0.5s smooth;
}
#blogs ul li:hover,#blogs ul a:hover{
  transform: scale(1.1);
  background-color: blue;

}
.spinner{
    animation: spin 1s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}