@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,button,input{
  font-size: 50%;
  font-family: 'Nunito', sans-serif;
}
body{
  overflow-x: hidden;
}

.App {
  min-height: 100vh;
  width: 100vw;
  font-family: 'Nunito', sans-serif;
}
/* ////// */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 5rem;
  height: 7rem;
  box-shadow: 0rem 1rem 3rem 0.5rem rgba(0, 0, 0, 0.1);
}
#register-btn,#login-link-btn,#logout-link-btn{
  background-color: #241333;
  color: #ffffff;
  width: max-content;
  height: max-content;
  padding: 0.75rem 1.5rem;
  border-radius: 5rem;
  transition: all 0.5s ease;
  margin-inline: 1rem;
  border: 0.1rem solid #000000;
}
#login-link-btn{
  background-color: #ffffff;
  color: #241333;
  border: 0.1rem solid #000000;
}
.navigation{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ul{
  display: flex;
  height: 7rem;
}
li{
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;

}
a{
  text-decoration: none;
  height: 100%;
  display: flex;
  padding-inline: 3rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  transition: font-size 2s ease;
}

a:active{
  background-color: #e7e7ed;
  transform: scale(1.2);
}
.logo a{
  all: unset;
  font-size: 3.2rem;
  letter-spacing: 1.5rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  height: 7rem;
  cursor: pointer;
}
main{
  height: calc(100vh - 7rem);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h2{
  font-size: 3.2rem;
}
p{
  font-size: 2rem;
  font-weight: 600;
  margin: 1.5rem;
}
input{
  width: 28rem;
  height: 4rem;
  border-radius: 5rem;
  border: 0.1rem solid #b8b8ba;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;

}
button{
  font-size: 1.6rem;
  cursor: pointer;
  background-color: transparent;
  font-weight: 600;
  border: none;
  padding-inline: 3rem;
  color: #241333;
}
#login-btn{
  background-color: #241333;
  border: 0.1rem solid #241333;
  padding: 1rem 3rem;
  border-radius: 5rem;
  color: #ffffff;
}
#login-btn:active{
  background: transparent;
  color: #241333;
}
.btnDiv{
  width: 100%;
  display: flex;
  justify-content: center;
}
.formControl{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}
label{
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}